# Google Gemini API Key
GOOGLE_API_KEY=your_google_api_key_here

# Qdrant Vector DB Configuration
# Use "http://localhost:6333" for local docker or cloud URL
QDRANT_URL=https://922c9e32-672f-46c4-83ac-0d1d136e51c7.us-east-1-1.aws.cloud.qdrant.io
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.7d51rNr1KgCAwZsuvJJ4vIkyk-qdIa50E-_D8YwDGXs
QDRANT_COLLECTION_NAME=word-ai
